<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script type="importmap">
    {
        "imports": {
            "gsap": "../../../node_modules/.pnpm/gsap@3.13.0/node_modules/gsap/index.js",
            "gsap/ScrollTrigger": "../../../node_modules/.pnpm/gsap@3.13.0/node_modules/gsap/ScrollTrigger.js",
            "lenis": "../../../node_modules/.pnpm/lenis@1.3.13_@nuxt+kit@3.15.4_vue@3.5.13_typescript@5.7.3_/node_modules/lenis/dist/lenis.mjs"
        }
    }
    </script>
</head>
<body>
    <nav>
        <div class="logo"><span>Site Logo</span></div>
        <div class="menu-btn"><span>Menu</span></div>
    </nav>

    <section class="hero">
        <div class="hero-cards">
            <div class="card" id="hero-card-1">
                <div class="card-title">
                    <span>Plan</span>
                    <span>01</span>
                </div>
                <div class="card-title">
                    <span>01</span>
                    <span>Plan</span>
                </div>
            </div>
            <div class="card" id="hero-card-2">
                <div class="card-title">
                    <span>Design</span>
                    <span>02</span>
                </div>
                <div class="card-title">
                    <span>02</span>
                    <span>Design</span>
                </div>
            </div>
            <div class="card" id="hero-card-3">
                <div class="card-title">
                    <span>Develop</span>
                    <span>03</span>
                </div>
                <div class="card-title">
                    <span>03</span>
                    <span>Develop</span>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <h1>Keep scrolling - it gets good</h1>
    </section>
    <section class="services">
        <div class="services-header">
            <h1>Services</h1>
        </div>
    </section>
    <section class="cards">
        <div class="cards-container">
            <div class="card" id="card-1">
                <div class="card-wrapper">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card-title">
                                <span>Plan</span>
                                <span>01</span>
                            </div>
                            <div class="card-title">
                                <span>01</span>
                                <span>Plan</span>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-title">
                                <span>Plan</span>
                                <span>01</span>
                            </div>
                            <div class="card-copy">
                                <p>Discovery</p>
                                <p>Audit</p>
                                <p>User Flow</p>
                                <p>Site Map</p>
                                <p>Personas</p>
                            </div>
                            <div class="card-title">
                                <span>01</span>
                                <span>Plan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="card-2">
                <div class="card-wrapper">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card-title">
                                <span>Design</span>
                                <span>02</span>
                            </div>
                            <div class="card-title">
                                <span>02</span>
                                <span>Design</span>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-title">
                                <span>Design</span>
                                <span>02</span>
                            </div>
                            <div class="card-copy">
                                <p>Discovery</p>
                                <p>Audit</p>
                                <p>User Flow</p>
                                <p>Site Map</p>
                                <p>Personas</p>
                            </div>
                            <div class="card-title">
                                <span>02</span>
                                <span>Design</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="card-3">
                <div class="card-wrapper">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card-title">
                                <span>Develop</span>
                                <span>03</span>
                            </div>
                            <div class="card-title">
                                <span>03</span>
                                <span>Develop</span>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-title">
                                <span>Develop</span>
                                <span>03</span>
                            </div>
                            <div class="card-copy">
                                <p>Discovery</p>
                                <p>Audit</p>
                                <p>User Flow</p>
                                <p>Site Map</p>
                                <p>Personas</p>
                            </div>
                            <div class="card-title">
                                <span>03</span>
                                <span>Develop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="outro">
        <h1>The story not Over yet</h1>
    </section>
    <script type="module" src="./script.js"></script>
</body>
</html>